@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  background-color: @bg-color;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

}

* {
  box-sizing: border-box;
  overflow: hidden;
}

input,
select,
button,
text {
  font-family: "Poppins", sans-serif;
}
